<div class="container">
  <div>
    <h1 class="mt-2 mb-2">Add Student</h1>
  </div>
  <div *ngIf="canShowAlert">
    <p class="invalid">Please enter required details</p>
  </div><br>
  <div >
    <label  >Enter The Name :</label>
   <input type="text" class="form-control" [(ngModel)]="firstName">
  </div><br>
  <div class="">
    <label  >Enter The Surname :</label>
    <input type="text" class="form-control" [(ngModel)]="surName">
  </div><br>
  <div class="">
    <label  >Enter The Age :</label>
   <input type="text" class="form-control" [(ngModel)]="age">
  </div><br>
  <div class="text-center">
    <button (click)="onAdd()" class="btn btn-primary" *ngIf="!studentId"  >Add</button>
    <button (click)="onUpdate()" class="btn btn-primary" *ngIf="studentId"  >Update</button>
  </div>

</div>
